* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Georgia, 'Times New Roman', Times, serif;
background-color: rgb(255, 255, 255);
}

h1 {
    text-align: center;
    margin-top: 20px;
}

img {
    width: 400px;
    display: block;
    margin: 30px auto;
}

a,ul,li,h3 {
    display: block;
    text-align: center;
    margin: 10px;
}

